// ===== ABOUT STYLES =====
.about {
   height: 100vh;
   min-height: 705px;
}
.block {
   padding: 8rem 0 0 0;
   background: $color-offwhite;
   position: relative;
   top: 0; right: 0; left: 0; bottom: 0;
   @include breakPoint(break40){
      margin-bottom: 5rem;
      padding: 5rem 0 15rem 0;
   }
   &__title {
      z-index: 100;
      &--subtitle {
         &--box {
            position: relative;
            top: 0; right: 0; bottom: 0; left: 0;
            &--line {
               height: 2px;
               background: $color-darkgrey;
               border: none;
               width: 70px;
               transform: rotate(90deg) translateX(-20px);

            }
            &--description {
               position: absolute;
               right: 50%;
               width: 300px;
               color: $color-darkgrey;
               font-family: $font-serif;
               padding: 5px 0 5px 10px;
               transform: translate(100%, -1.6rem);
               @include breakPoint(break75){
               font-size: 1.3rem;
            }
            }
         }
         &--heading {
            text-align: center;
            font-size: 4rem;
            @include breakPoint(break65){
               font-size: 3rem;
            }
            @include breakPoint(break75){
               font-size: 2.5rem;
            }
         }
      }
   }
   //skew background
   &::after {
      z-index: -100;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      top: 0; right: 0; bottom: 0; left: 0;
      transform-origin: top left;
      transform: skewY(5deg);
   }
   &__fig {
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakPoint(break30){
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
      }
      @include breakPoint(break40){
         flex-direction:column;
      }
      &--img {
         width: 50%;
         display: flex;
         justify-content: flex-end;
         @include breakPoint(break30){
            // justify-content: flex-start;
            align-items: flex-start;
         }
         @include breakPoint(break40){
            width: 100%;
            justify-content: center;
         }
         &--item {
            width: 390px;
            height: 390px;
            background: url('/src/assets/bootcampHeadshot4\ copy-2.jpg');
            background-size: cover;
         }
      }
      &__figcap {
         background: rgba($color-darkgrey,0.1);
         width: 50%;
         max-height: 350px;
         padding: 3rem;
         border-radius: 5px;
         transform: translateX(-15%);
         @include breakPoint(break30){
            width: 90%;
            align-self: flex-end;
            transform: translate(-10%, 5%);
         }
         @include breakPoint(break40){ 
            transform: none;
            align-self: center;
         }
      }
   }
   &__resume {
      display: flex;
      justify-content: center;
      align-items: center;
      &--btn {
         margin-top: 2rem;
         transform: translateX(100%);
         @include breakPoint(break30){
            transform: translateX(50%);
         }
         @include breakPoint(break40){
            transform: none;
            margin-top: 1rem;
         }   
      }
   }
   .arrowAbout {
      top: 80%;
      @include breakPoint(break40){
         top: 100%;
      }
      @include breakPoint(break45){
         display: none;
      }
   }
}

// .fa-long-arrow-alt-down {
//   z-index: 100;
//   position: absolute;
//   top: 90%;
//   right: 0;
//   bottom: 0;
//   left: 50%;
//   color: $color-darkgrey;
//   font-size: 3rem;
//   transform: translateX(-2.4%);
// }
