// ===== ABOUT STYLES =====

//beginning of block template
.block {
   padding: 8rem 0 0 0;
   background: $color-offwhite;
   position: relative;
   top: 0; right: 0; left: 0; bottom: 0;
   @include breakPoint(break40){
      margin-bottom: 3rem;
      padding-top: 5rem;
   }
   @include breakPoint(break65){
         margin-bottom: 1rem;
         padding-top: 3rem;
   }
   &__title {
      z-index: 100;
      &--subtitle {
         &--box {
            position: relative;
            top: 0; right: 0; bottom: 0; left: 0;
            &--line {
               height: 2px;
               background: $color-darkgrey;
               border: none;
               width: 70px;
               transform: rotate(90deg) translateX(-20px);

            }
            &--description {
               position: absolute;
               right: 50%;
               width: 300px;
               color: $color-darkgrey;
               font-family: $font-serif;
               padding: 5px 0 5px 10px;
               transform: translate(100%, -1.6rem);
               @include breakPoint(break75){
                  font-size: 1.3rem;
               }
               @include breakPoint(break51){
                  width: 50%;
                  font-size: 1rem;
               }  
            }
         }
         &--heading {
            text-align: center;
            font-size: 4rem;
            @include breakPoint(break65){
               font-size: 3rem;
            }
            @include breakPoint(break75){
               font-size: 2.5rem;
            }
         }
      }
   }
   //skew background
   &::after {
      z-index: -100;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      top: 0; right: 0; bottom: 0; left: 0;
      transform-origin: top left;
      transform: skewY(5deg);
   }
   &__fig {
      display: flex;
      justify-content: center;
      align-items: center;
      @include breakPoint(break30){
         flex-direction: row;
         justify-content: flex-start;
         align-items: flex-start;
      }
      @include breakPoint(break40){
         flex-direction:column;
      }
      @include breakPoint(break70){
         padding-bottom: 3rem;
      }
      @include breakPoint(break78){
            padding-bottom: 5rem;
         }
      &--img {
         width: 50%;
         display: flex;
         justify-content: flex-end;
         @include breakPoint(break30){
            // justify-content: flex-start;
            align-items: flex-start;
         }
         @include breakPoint(break40){
            width: 100%;
            justify-content: center;
         }
         &--item {
            width: 390px;
            height: 390px;
            background: url('/src/assets/bootcampHeadshot4\ copy-2.jpg');
            background-size: cover;
            @include breakPoint(break40){
               width: 250px;
               height: 250px;
            } 
         }
      }
      &__figcap {
         background: rgba(#fff,0.8);
         width: 50%;
         max-height: 350px;
         padding: 2rem;
         border-radius: 5px;
         transform: translateX(-10%);
         @include breakPoint(break4){
            padding: 1rem 1rem 2rem;
         }
         @include breakPoint(break30){
            width: 90%;
            align-self: flex-end;
            transform: translate(-10%, 5%);
         }
         @include breakPoint(break40){ 
            transform: translateY(-10%);
            align-self: center;
         }
         @include breakPoint(break53){
            font-size: 0.9rem;
         } 
         @include breakPoint(break70){
            transform: none;
            padding-bottom: 1rem;
            .block__fig__figcap{
               &--text {
                  padding: 0.5rem;
               }
            }
         }
         &--heading {
            padding: 0;
         }
         &--text {
            line-height: 1.5;
            padding: 0.5rem 0;
         }
      }
   }
   //End of block template

   //RESUME BUTTON
   &__resume {
      display: flex;
      justify-content: center;
      align-items: center;
      &--btn {
         padding: 15px;
         margin-top: 2rem;
         transform: translate(40%, -230%);
         @include breakPoint(break4){
            transform: translate(40%, -220%);
         }
         @include breakPoint(break18){
            transform: translate(40%, -200%);
         }
         @include breakPoint(break30){
            transform: translate(75%, -70%);
         }
         @include breakPoint(break35){
            transform: translate(90%, -30%);
         }
         @include breakPoint(break40){
            transform: translate(75%, -130%);
            margin-top: 1rem;
         }
         @include breakPoint(break53){
            transform: translate(40%, -130%);
            margin-top: 1rem;
         } 
         @include breakPoint(break65){
            transform: translate(30%, -125%);
            margin-top: 1rem;
         } 
         @include breakPoint(break70){
            transform: none;
         }   
      }
   }
   .arrowAbout {
      top: 90%;
      left: 50%;
      @include breakPoint(break40){
         top: 100%;
      }
      @include breakPoint(break45){
         display: none;
      }
   }
}

.about {
   height: 100%;
   min-height: 705px;
   padding-bottom: 8rem;
   @include breakPoint(break65){
         padding-bottom: 0;
         padding-top: 5rem;
   }
}

