//HEADER STYLES
header {
   height: 100%;
   min-height: 705px;
   background: $color-dark;
   position: relative;
   top: 0; right: 0; left: 0; bottom: 0;
   padding-bottom: 5rem;
   @include breakPoint(break30){
        padding-bottom: 0;
   }
   .nav {
      display: flex;
      justify-content: space-between;
      padding:1rem 0;
      font-size: 2rem;
      position: fixed;
      left: 0; right: 0;
      margin: auto;
      z-index: 150;
      color: white;
      @include breakPoint(break78) {
        padding: 0.5rem 0;
      }
      &__logo--item {
         font-weight: bold;
         background: $color-accent;
         padding: 10px;
      }
      &__list {
        background: $color-accent;
        padding: 5px;
         .hamburger {
            text-align: right;
            width: 100%;
            padding: 8px;
            &--title {
              font-family: $font-sansSerif;
              @include breakPoint(break20) {
                display:none;
              }
            }
            &:hover {
              color: $color-dark;
            }
         }
         &--item {
           margin: 3.5rem 0;
           @include breakPoint(break53){
              margin: 1rem;           
            }
         }
         &--itemLink {
            padding: 1rem 10rem;
            @include breakPoint(break40){
              margin: 0;              
            }
            @include breakPoint(break53){
              padding: 2rem;           
            }
            &:hover {
              color: $color-dark;
            }
            
         }
      } 
   }
   .hero { //title
      width: 60%;
      margin: 0 auto;
      position: absolute;
      top: 0; left: 50%;
      transform: translate(-50%, 50%) rotate(-90deg);
      z-index: 10;
      // responsive begins for hero
      @include breakPoint(break10) {
        transform: translate(-50%, 80%) rotate(-90deg);
      }
      @include breakPoint(break15){
        transform: translate(-50%, 90%) rotate(-90deg);
      }
      @include breakPoint(break45){
        transform: translate(-50%, 100%) rotate(-90deg);
        padding-bottom: 5%;
      }
      @include breakPoint(break50) {
        // transform: translate(-50%, 100%);
        left: 50%;
        top: 10%;
      }
      @include breakPoint(break55) {
        transform: translate(-50%, 100%) rotate(-90deg);
      }
      @include breakPoint(break69){
        left: 50%;
        top:10%;
        width: 80%;
      }
      //responsive ends for hero

      &__name { //NICOLE
         font-size: 4rem;
         width: 100%;
         text-shadow: 0 0 2px black;
          @include breakPoint(break55) {
            font-size: 3rem;
          }
         &--lastName { //SALCEDA
            font-size: 6rem;
            width: 100%;
            display: block;
            line-height: 0.8;
            @include breakPoint(break55) {
              font-size: 4rem;
            }
         }
         &--text { 
            font-size: 2rem;
            @include breakPoint(break80){
              font-size: 1.8rem;
            }
         }
      }
   }
   //skewing the background
    &::after {
      z-index: 5;
      position: absolute;
      width: 100%;
      height: 100%;
      content: '';
      background: inherit;
      top: 0; right: 0; bottom: 0; left: 0;
      transform-origin: top right;
      transform: skewY(-5deg);
   }
}



// ========== RESPONSIVE STYLES =========

