
// ===== portfolio styles ======
.portfolio{
   position: static;
   background: none;
   padding: 5rem 0 15rem;
   .block__fig {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 2rem 0;
      &--img {
         width: 60%;
         flex: 1 1 60%;
         &--item {
            width: 500px;
            height: 300px;
            background-size: cover;
         }
      }
      &__figcap {
         width: 40%;
         flex: 0 1 40%;
         // transform: translateX(0);
         padding: 20px;
         z-index: 100;
         &--heading, &--text, &--list {
            padding-bottom: 1.5rem;
         }

         &--heading {
            font-family: $font-serif;
            font-size: 1.8rem;
            color: $color-dark;
         }
         &--list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            color: $color-accent;
            &--item {
               font-family: $font-serif;
               font-weight: bold;
               flex: 1 0 40px;
               text-transform: uppercase;
               text-align: center;
            }
         }
      }
   }
}
.alignRight {
   text-align: right;
   transform: translateX(10%);
}
.block__button--live, .block__button--git {
   background: $color-dark;
   border:none;
   color: #fff;
   font-weight: bold;
   border: solid 1.5px $color-dark;
   transition: 0.5s all ease;
   &:hover {
      color: $color-dark;
      background: #fff;
      border: solid 1.5px $color-accent;
   }
}
//portfolio image backgrounds
.item1 {
   background: url('/src/assets/mockupPhotography.jpg') center;
}

.item2 {
   background: url('/src/assets/toBangMockup.jpg') center;
}

.item3 {
   background: url('/src/assets/mockupMoondollar.jpg') center;
}
