//  TYPOGRAPHY STYLES

//fonts 
    //font-family: 'Montserrat', sans-serif;
    //font-family: 'Playfair Display', serif;
h1 {
   font-family: $font-sansSerif;
}
.white {
   color: #fff;
}
.fontAccent {
    color: $color-accent;
}
.uppercase {
   text-transform: uppercase;
}
